/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e layout */
body {
  font-family: Arial, sans-serif;
  background-color: #2E0854;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* Container principal */
.container {
  text-align: center;
}

/* Título */
.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #9B59B6;
}

/* Abas */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #8E44AD;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #9B59B6;
}

/* Quiz */
.quiz-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
}

#quiz {
  margin-bottom: 20px;
}

#question {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#options {
  list-style: none;
  padding: 0;
}

#options li {
  background-color: #9B59B6;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#options li:hover {
  background-color: #8E44AD;
}

.next-button {
  background-color: #8E44AD;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.next-button:hover {
  background-color: #9B59B6;
}

/* Biblioteca de textos */
.library-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  text-align: left;
  margin-bottom: 20px;
}

.text-entry {
  margin-bottom: 20px;
}

.text-entry p {
  font-size: 1.2em;
  margin: 5px 0;
}

/* Tela final do quiz */
.end-screen {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
}

.restart-button {
  background-color: #8E44AD;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.restart-button:hover {
  background-color: #9B59B6;
}

/* Timer */
.timer-container {
  margin-top: 20px;
}


.timer {
  font-size: 1.2em;
  margin-bottom: 15px;
}

